
@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fluid-Layout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/default.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="sign-up">
        <div class="padding">
            <div class="introduction">
                <p>@ViewBag.banner.firstLine</p>
                <p>@ViewBag.banner.secondLine</p>
            </div>
            <div class="vertical-line"> </div>
            <form class="input-form">
                <input type="text" name="email" placeholder="  ENTER YOUR EMAIL ADDRESS" class="input-text">
                <button type="button" class="btn btn-default">SIGN UP</button>
            </form>
        </div>

    </div>
</body>
</html>


